[.]*
![.]gitignore

npm-debug.log
/vendor
/node_modules
/public/build
/public/storage
/public/files
/public/sitemap.xml
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
storage/debugbar/*
storage/debugbar
Homestead.yaml
Homestead.json
composer.phar
.env
/nbproject
public/js/libs/ckfinder/cache/
public/js/libs/ckfinder/
public/robots.txt


# IDE
.idea


/resources/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
