.skin-blue .sidebar-menu>li>.treeview-menu{
    margin-left: 26px;
}

/* 页面内左侧菜单 */
.oo-menu {position: fixed; margin-top: -15px; padding: 0px; height: 100%;}
/* 页面内左侧菜单 end */

table thead tr#filterrow th {padding: 1px;}
table thead tr#filterrow th input{width:100%;}
.table-responsive {overflow-x: visible; min-height: .01%;}